/* page setup
--------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5e5;
    --blue: #0ea5e9;
    --red: #be123c;
    --green: #15803d;
    --yellow: #facc15;
    --white: #f8fafc;
    --black: #111827;
    --gray: #6b7280;
    color: var(--black);
    -webkit-tap-highlight-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* modal
--------------------------------
*/

.modal {
    background-color: var(--white);
    color: var(--black);
    border: none;
    border-radius: 16px;
    width: 80%;
    padding: 20px;
    font-size: 1.1rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.create-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.title, .description {
    width: 60%;
    font-size: 1.1rem;
    background-color: var(--white);
    border: var(--blue) 2px solid;
    border-radius: 8px;
}

form>input:focus {
    outline-color: var(--blue);
}

.date-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.date {
    background-color: var(--white);
    border: var(--blue) 2px solid;
    border-radius: 8px;
}

.date:focus {
    outline-color: var(--blue);
}

.submit {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 16px;
    width: 40%;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
}

.urgent-input>input {
    margin-left: -28px;
}

.submit:active {
    transform: translateY(2px);
}

.modal::backdrop {
    background: black;
    opacity: .3;
}

.close-modal:hover {
    cursor: pointer;
}

.shake {
    animation: shake .3s;
}

@keyframes shake {
    25% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}

/* header
--------------------------------
*/

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 8px var(--gray);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.right-side-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    width: 3rem;
    height: 3rem;
}

.create-view {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    width: 7rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
}

.create-view:active {
    transform: translateY(2px);
}

/* projects area
--------------------------------
*/

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    width: 100%;
}


/* project card
--------------------------------
*/

.project-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 120px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 0px 5px 10px var(--gray);
}

.project-card:active {
    transform: translateY(2px);
}

.project-card>h2 {
    font-size: 1.4rem;
}

.project-description {
    overflow: hidden;
    display: -webkit-box;
    line-height: 25px;    
    max-height: 47px;     
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.close {
    align-self: flex-end;
    margin-top: auto;
}

.close:hover {
    cursor: pointer;
}

/* media screen selectors
--------------------------------
*/

@media screen and (min-width: 750px) and (max-width: 1200px) {
    .modal {
        width: 40%;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        width: 30%;
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* project card modifiers
--------------------------------
*/

.urgent {
    border: solid 4px var(--red);
}

.not-urgent {
    border: solid 4px var(--green);
}

/* modal error modifiers
--------------------------------
*/

.error {
    border: var(--red) 2px solid;
}

/* active project
--------------------------------
*/

.active-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-card {
    background-color: var(--white);
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px var(--gray);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.active-card>hr {
    width: 100%;
}

.active-title-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active-title {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

.back {
    font-size: 2rem;
}

.back:hover {
    cursor: pointer;
}

.active-date {
    font-size: 1.2rem;
    font-style: italic;
}

.todo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo>input {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    appearance: none;
    border: 1px solid var(--black);
    cursor: pointer;
}

.todo-text {
    font-size: .8rem;
}

.active-new-todo-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-todo {
    border: solid 2px var(--blue);
    border-radius: 16px;
    font-size: 1.1rem;
    width: 70%;
}

.new-todo:focus {
    outline-color: var(--blue);
}

.active-add {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
}

.complete-active {
    width: 50%;
    align-self: flex-end;
    margin-top: 100px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
}

.complete-active:active, .active-add:active {
    transform: translateY(2px);
}

/* media screen active project
--------------------------------
*/

@media screen and (min-width: 750px) and (max-width: 1200px) {
    .active-card {
        width: 60%;
    }
    .complete-active {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .active-card {
        width: 40%;
    }
    .complete-active {
        width: 30%;
    }
}